body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin: 5px;
}
